.divideText{
    font-size: 3.75rem;
    font-weight: 200;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.3;
}
@media (max-width: 1026px){
    .divideText{
        padding-top: 33rem;
        line-height: 1.2;
        font-size: 3.5rem;

    }
}
@media (max-width: 790px){
    .divideText{
        padding-top: 21rem;
        line-height: 1.2;
        font-size: 2.5rem;
    }
}
@media (max-width: 550px) {
    .divideText{
        padding-top: 0rem;
        font-size: 1.3rem;
    }
}